* {
    inset: 0;
    margin: 0;
    padding: 0;

    --theme-primary: #ce1b1b;
    --theme-secondary: #3b1b3a;
    --theme-accent: #bbbbbb;
    --theme-surface: #e4d4ca;

    --theme-primary-content: #ffffff;
    --themne-secondary-content: #ffe607;
    --theme-accent-content: #ffffff;
    --theme-surface-content: #f55246; 

    color : var(--theme-surface-content)
}

body {
    background : var(--theme-surface);
}

.flex-col {
    display: flex;
    flex-direction: column;

}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.pfp {
    height: 200px;
    border-radius: 100%;
    border: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255)
}

.bg-primary {
    background: var (--theme-primary)
}

.bg-secondary {
    background: var(--theme-secondary)
}

.bg-accent {
    background: var(--theme-accent)
}

.text-primary {
    color: var(--theme-primary);
}

.text-secondary {
    color: var(--theme-secondary);
}

.text-accent {
    color: var(--theme-accent)
}
.text-surface {
    color: var(--theme-surface)
}

.w-dvw {
    width: 100dvw;
}

.h-dvh {
    height: 100dvh;
}